{% extends "rate/base.html" %}

{% block title %}
    Add a mince pie
{% endblock title %}

{% block content %}
    <h1>Add a mince pie</h1>

    {% if user.is_authenticated %}
        <section>
            <form action="{% url 'rate:add'%}" method="post">
                <fieldset>
                    <legend>Mince pie details</legend>
                    {% csrf_token %}
                    <label for="brand">Brand</label>
                    <br/>
                    <input type="text" name="brand" />
                    <br/>
                    <label for="name">Name</label>
                    <br/>
                    <input type="text" name="name" />
                    <br/>
                    {% if notification_message %}<p><strong>{{ notification_message }}</strong></p>{% endif %}
                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                    <input type="submit" value="Add mince pie" />
                </fieldset>
            </form>
        </section>
    {% else %}
        <p>Please <a href="{% url 'rate:login' %}">log in</a> to create a new mince pie!</p>
    {% endif %}
{% endblock content %}
