{% extends "rate/base.html" %}

{% block title %}
    Add a mince pie
{% endblock title %}

{% block content %}
    <h1>Add a mince pie</h1>

    {% if user.is_authenticated %}
        <section>
            <form action="{% url 'rate:add_mince_pie'%}" method="post">
                <fieldset>
                    <legend>Mince pie details</legend>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Add mince pie" />
                </fieldset>
            </form>
        </section>
    {% else %}
        <p>Please <a href="{% url 'rate:login' %}">log in</a> to create a new mince pie!</p>
    {% endif %}
{% endblock content %}
