{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'rate/style.css' %}">
    </head>
    <body>
        <header id="main-header">
            <a href="{% url 'rate:index'%}" id="page-header">Mince Pie-Rate</a>
            <nav id="page-navigation">
                <a href="{% url 'rate:index'%}">Home</a>
                <a href="{% url 'rate:overview'%}">Overview</a>
            </nav>
        </header>
        {% block content %}{% endblock content %}
    </body>
</html>
