{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'rate/style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header id="main-header">
            <a href="{% url 'rate:index'%}" id="page-header">Mince Pie-Rate</a>
            <nav id="page-navigation">
                <a href="{% url 'rate:index'%}" {% if active_page == "index" %} class="active" {% endif %}>Home</a>
                <a href="{% url 'rate:overview'%}" {% if active_page == "overview" %} class="active" {% endif %}>Overview</a>
                <a href="{% url 'rate:add_mince_pie'%}" {% if active_page == "add_mince_pie" %} class="active" {% endif %}>Add Mince Pie</a>
                {% if not user.is_authenticated %}
                    <a href="{% url 'rate:login'%}" {% if active_page == "login" %} class="active" {% endif %}>Log in</a>
                {% else %}
                    <a href="{% url 'rate:logout'%}">Log out</a>
                {% endif %}
            </nav>
        </header>
        {% block content %}{% endblock content %}
    </body>
</html>
