{% extends "rate/base.html" %}

{% block title %}
    Detail of {{mince_pie}}
{% endblock title %}

{% block content %}
    <h1>{{mince_pie}}</h1>

    <section>
        <form action="{% url 'submit_review' mince_pie.pk %}" method="post">
            {% if user.is_authenticated %}
                <fieldset>
                    <legend>Review {{mince_pie}}</legend>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit review" />
                </fieldset>
            {% else %}
                <p>Please <a href="{% url 'login' %}">log in</a> to review this mince pie!</p>
            {% endif %}
        </form>
    </section>
    <section>
        <h1>Reviews so far:</h1>
        {% if mince_pie.review_set.all %}
            <table>
                <tr>
                    <th>Created By</th>
                    <th>Date Created</th>
                    <th>Rating</th>
                    <th>Free Text Review</th>
                </tr>
                {% for review in mince_pie.review_set.all %}
                <tr>
                    <td>{{review.created_by}}</td>
                    <td>{{review.created_at}}</td>
                    <td>{{review.rating}}</td>
                    <td>{{review.free_text_review|linebreaks}}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>No reviews complete for these mince pies yet!</p>
        {% endif %}
    </section>
{% endblock content %}
